<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<ul>

<li>

<%= urlDatabase[shortURL] %>
<%= shortURL %>
</li>
 <li>

  </li>

</ul>

    <!-- Add your EJS code here -->
</body>
</html>