<!DOCTYPE html>






<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>


<body>


<header><font size="6">Short URL is</font> ->   <font size="5"><b><%= shortURL %></b></font></header>

  <ul>

    <li style="list-style-type: none;">



     <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:50px;">


      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 325px" value="<%= urlDatabase[shortURL] %>">
      <input type="submit" formaction="/urls" value="Update">

    </form>

    </li>

  </ul>

    <!-- Add your EJS code here -->
</body>
</html>